<h1>Activities:</h1>

<div ng-cloak layout-gt-sm="row" layout="column">
  <md-content>
    <md-list flex>
      <md-list-item class="md-3-line" ng-repeat="x in weatherData" ng-click="null">
        <div class="md-list-item-text activityItem" layout="column">
          <h3>{{ x.activity.title + ' ' + x.activity.actor.cityName + ' is:' }}</h3>
          <p>{{ x.activity.object.temp + ' kelvin, ' + x.activity.object.description }}</p>
          <small>{{ activityAge() }}</small>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>
